<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID"
         version="3.0">

    <!--加载顺序:context-param, listener, filter, servlet-->
    <context-param>  <!--不允许有重复值-->
        <param-name>localUrl</param-name>
        <param-value>http://127.0.0.1:8080/servlet/</param-value>
    </context-param>

    <listener>
        <description>将监听器注册到事件源</description>
        <listener-class>com.me.gacl.listener.MyServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.me.gacl.listener.MyHttpSessionListener</listener-class>
    </listener>
    <!--手动配置session的销毁时间为1分钟-->
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <listener>
        <listener-class>com.me.gacl.listener.MyServletRequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.me.gacl.listener.AttributeListener</listener-class>
    </listener>

    <!--<filter>-->
    <!--<filter-name>LogFilter</filter-name>-->
    <!--<filter-class>com.me.gacl.filter.LogFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>LogFilter</filter-name>-->
    <!--<url-pattern>/filter</url-pattern>-->
    <!--</filter-mapping>-->

    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>com.me.gacl.servlet.Servlet1</servlet-class>
        <init-param>  <!--允许有重复值，取最后一个-->
            <param-name>username</param-name>
            <param-value>apple</param-value>
        </init-param>
        <init-param>
            <param-name>address</param-name>
            <param-value>China</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>

</web-app>