<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID"
         version="3.0">

    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>com.me.gacl.servlet.Servlet1</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>apple</param-value>
        </init-param>
        <init-param>
            <param-name>address</param-name>
            <param-value>China</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>localUrl</param-name>
        <param-value>http://127.0.0.1:8080/servlet/</param-value>
    </context-param>

</web-app>