<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employeeMapper">

    <resultMap type="com.me.gacl.domain.Employee" id="EmployeeMap">
        <id property="eId" column="e_id" jdbcType="TINYINT"/>
        <result property="eName" column="e_name" jdbcType="VARCHAR"/>
        <association property="firm" javaType="com.me.gacl.domain.Firm">
            <id property="fId" column="f_id" jdbcType="TINYINT"/>
            <result property="fName" column="f_name" jdbcType="VARCHAR"/>
        </association>
        <collection property="card" ofType="com.me.gacl.domain.Cards">
            <id column="c_id" property="cId"/>
            <result column="c_name" property="cName"/>
        </collection>
    </resultMap>

    <select id="getAllInfo" resultMap="EmployeeMap">
        select
        e.e_id,e.e_name,e.f_id,f.f_name,c.c_id,c.c_name
        from my_employee e
        left join my_firm f on e.f_id=f.f_id
        left join my_card c on c.e_id=e.e_id
        where e.e_name=#{eName}
    </select>
</mapper>
<!--assocaition用于表示一对一的关联表关系，collection用于表示一对多的关联表关系-->
